.main-container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.form-container {
	width: 30vw;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px solid rgba(146, 141, 141, 0.227);
	border-radius: 5%;
	box-shadow: 2px 5px 5px rgb(118, 117, 117);
}

.form {
	display: flex;
	flex-direction: column;
}

.form-input {
	width: 90%;
	margin: 20px;
}

.submit {
	width: 90%;
	height: 40px;
	font-size: large;
	color: white;
	background-color: rgb(0, 0, 0);
}
